@import "../node_modules/bulma/css/bulma.css";
@import "https://use.fontawesome.com/releases/v5.0.13/css/all.css";

/* NOTE:  margin top*/
.mt-0 {
  margin-top: 0 !important;
}

.mt-1 {
  margin-top: 0.25rem !important;
}

.mt-2 {
  margin-top: 0.5rem !important;
}

.mt-3 {
  margin-top: 1rem !important;
}

.mt-4 {
  margin-top: 1.5rem !important;
}

.mt-5 {
  margin-top: 3rem !important;
}

/* NOTE: margin top auto */
.mt-auto {
  margin-top: auto !important;
}

/* NOTE:  margin right*/
.mr-0 {
  margin-right: 0 !important;
}

.mr-1 {
  margin-right: 0.25rem !important;
}

.mr-2 {
  margin-right: 0.5rem !important;
}

.mr-3 {
  margin-right: 1rem !important;
}

.mr-4 {
  margin-right: 1.5rem !important;
}

.mr-5 {
  margin-right: 3rem !important;
}

/* NOTE: margin right auto */
.mr-auto {
  margin-right: auto !important;
}

/* NOTE:  margin bottom*/
.mb-0 {
  margin-bottom: 0 !important;
}

.mb-1 {
  margin-bottom: 0.25rem !important;
}

.mb-2 {
  margin-bottom: 0.5rem !important;
}

.mb-3 {
  margin-bottom: 1rem !important;
}

.mb-4 {
  margin-bottom: 1.5rem !important;
}

.mb-5 {
  margin-bottom: 3rem !important;
}

/* NOTE:  margin bottom auto*/
.mb-auto {
  margin-bottom: auto !important;
}

/* NOTE:  margin left*/
.ml-0 {
  margin-top: 0 !important;
}

.ml-1 {
  margin-left: 0.25rem !important;
}

.ml-2 {
  margin-left: 0.5rem !important;
}

.ml-3 {
  margin-left: 1rem !important;
}

.ml-4 {
  margin-left: 1.5rem !important;
}

.ml-5 {
  margin-left: 3rem !important;
}

/* NOTE: margin left auto*/
.ml-auto {
  margin-left: auto !important;
}

/* NOTE:  margin y*/
.my-0 {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.my-1 {
  margin-top: 0.25rem !important;
  margin-bottom: 0.25rem !important;
}

.my-2 {
  margin-top: 0.5rem !important;
  margin-bottom: 0.5rem !important;
}

.my-3 {
  margin-top: 1rem !important;
  margin-bottom: 1rem !important;
}

.my-4 {
  margin-top: 1.5rem !important;
  margin-bottom: 1.5rem !important;
}

.my-5 {
  margin-top: 3rem !important;
  margin-bottom: 3rem !important;
}

/* NOTE: margin y auto */
.my-auto {
  margin-top: auto !important;
  margin-bottom: auto !important;
}

/* NOTE:  margin x*/
.mx-0 {
  margin-right: 0 !important;
  margin-left: 0 !important;
}

.mx-1 {
  margin-right: 0.25rem !important;
  margin-left: 0.25rem !important;
}

.mx-2 {
  margin-right: 0.5rem !important;
  margin-left: 0.5rem !important;
}

.mx-3 {
  margin-right: 1rem !important;
  margin-left: 1rem !important;
}

.mx-4 {
  margin-right: 1.5rem !important;
  margin-left: 1.5rem !important;
}

.mx-5 {
  margin-right: 3rem !important;
  margin-left: 3rem !important;
}

/* NOTE: margin x auto */
.mx-auto {
  margin-right: auto !important;
  margin-left: auto !important;
}

/* NOTE:  margin yx*/
.m-0 {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  margin-right: 0 !important;
  margin-left: 0 !important;
}

.m-1 {
  margin-top: 0.25rem !important;
  margin-bottom: 0.25rem !important;
  margin-right: 0.25rem !important;
  margin-left: 0.25rem !important;
}

.m-2 {
  margin-top: 0.5rem !important;
  margin-bottom: 0.5rem !important;
  margin-right: 0.5rem !important;
  margin-left: 0.5rem !important;
}

.m-3 {
  margin-top: 1rem !important;
  margin-bottom: 1rem !important;
  margin-right: 1rem !important;
  margin-left: 1rem !important;
}

.m-4 {
  margin-top: 1.5rem !important;
  margin-bottom: 1.5rem !important;
  margin-right: 1.5rem !important;
  margin-left: 1.5rem !important;
}

.m-5 {
  margin-top: 3rem !important;
  margin-bottom: 3rem !important;
  margin-right: 3rem !important;
  margin-left: 3rem !important;
}

/* NOTE: margin yx auto */
.m-auto {
  margin-top: auto !important;
  margin-bottom: auto !important;
  margin-right: auto !important;
  margin-left: auto !important;
}

/* NOTE:  padding top*/
.pt-0 {
  padding-top: 0 !important;
}

.pt-1 {
  padding-top: 0.25rem !important;
}

.pt-2 {
  padding-top: 0.5rem !important;
}

.pt-3 {
  padding-top: 1rem !important;
}

.pt-4 {
  padding-top: 1.5rem !important;
}

.pt-5 {
  padding-top: 3rem !important;
}

/* NOTE: padding top auto */
.pt-auto {
  padding-top: auto !important;
}

/* NOTE:  padding right*/
.pr-0 {
  padding-right: 0 !important;
}

.pr-1 {
  padding-right: 0.25rem !important;
}

.pr-2 {
  padding-right: 0.5rem !important;
}

.pr-3 {
  padding-right: 1rem !important;
}

.pr-4 {
  padding-right: 1.5rem !important;
}

.pr-5 {
  padding-right: 3rem !important;
}

/* NOTE: padding right auto */
.pr-auto {
  padding-right: auto !important;
}

/* NOTE:  padding bottom*/
.pb-0 {
  padding-bottom: 0 !important;
}

.pb-1 {
  padding-bottom: 0.25rem !important;
}

.pb-2 {
  padding-bottom: 0.5rem !important;
}

.pb-3 {
  padding-bottom: 1rem !important;
}

.pb-4 {
  padding-bottom: 1.5rem !important;
}

.pb-5 {
  padding-bottom: 3rem !important;
}

/* NOTE: padding bottom auto */
.pb-auto {
  padding-bottom: auto !important;
}

/* NOTE:  padding left*/
.pl-0 {
  padding-top: 0 !important;
}

.pl-1 {
  padding-left: 0.25rem !important;
}

.pl-2 {
  padding-left: 0.5rem !important;
}

.pl-3 {
  padding-left: 1rem !important;
}

.pl-4 {
  padding-left: 1.5rem !important;
}

.pl-5 {
  padding-left: 3rem !important;
}

/* NOTE:  */
.pl-auto {
  padding-left: auto !important;
}

/* NOTE:  padding y*/
.py-0 {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.py-1 {
  padding-top: 0.25rem !important;
  padding-bottom: 0.25rem !important;
}

.py-2 {
  padding-top: 0.5rem !important;
  padding-bottom: 0.5rem !important;
}

.py-3 {
  padding-top: 1rem !important;
  padding-bottom: 1rem !important;
}

.py-4 {
  padding-top: 1.5rem !important;
  padding-bottom: 1.5rem !important;
}

.py-5 {
  padding-top: 3rem !important;
  padding-bottom: 3rem !important;
}

/* NOTE: padding y auto */
.py-auto {
  padding-top: auto !important;
  padding-bottom: auto !important;
}

/* NOTE:  padding x*/
.px-0 {
  padding-right: 0 !important;
  padding-left: 0 !important;
}

.px-1 {
  padding-right: 0.25rem !important;
  padding-left: 0.25rem !important;
}

.px-2 {
  padding-right: 0.5rem !important;
  padding-left: 0.5rem !important;
}

.px-3 {
  padding-right: 1rem !important;
  padding-left: 1rem !important;
}

.px-4 {
  padding-right: 1.5rem !important;
  padding-left: 1.5rem !important;
}

.px-5 {
  padding-right: 3rem !important;
  padding-left: 3rem !important;
}

/* NOTE: padding x auto */
.px-auto {
  padding-right: auto !important;
  padding-left: auto !important;
}

/* NOTE:  padding yx*/
.p-0 {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  padding-right: 0 !important;
  padding-left: 0 !important;
}

.p-1 {
  padding-top: 0.25rem !important;
  padding-bottom: 0.25rem !important;
  padding-right: 0.25rem !important;
  padding-left: 0.25rem !important;
}

.p-2 {
  padding-top: 0.5rem !important;
  padding-bottom: 0.5rem !important;
  padding-right: 0.5rem !important;
  padding-left: 0.5rem !important;
}

.p-3 {
  padding-top: 1rem !important;
  padding-bottom: 1rem !important;
  padding-right: 1rem !important;
  padding-left: 1rem !important;
}

.p-4 {
  padding-top: 1.5rem !important;
  padding-bottom: 1.5rem !important;
  padding-right: 1.5rem !important;
  padding-left: 1.5rem !important;
}

.p-5 {
  padding-top: 3rem !important;
  padding-bottom: 3rem !important;
  padding-right: 3rem !important;
  padding-left: 3rem !important;
}

/* NOTE: padding yx auto */
.p-auto {
  padding-top: auto !important;
  padding-bottom: auto !important;
  padding-right: auto !important;
  padding-left: auto !important;
}

.is-centered {
  justify-content: center;
}

.is-vcentered {
  align-items: center;
}

.is-fixed {
  position: fixed;
}

.is-relative {
  position: relative;
}

.is-absolute {
  position: absolute;
}

.is-static {
  position: static;
}

.w-100 {
  width: 100%;
}

.h-100 {
  height: 100%;
}

.minWidth-100 {
  min-width: 100%;
}

.minWidth-vw {
  min-width: 100vw;
}

.minHeight-100 {
  min-height: 100%;
}

.minHeight-vh {
  min-height: 100vh;
}

.maxWidth-100 {
  max-width: 100%;
}

.maxHeight-100 {
  max-height: 100%;
}

.maxHeight-vh {
  max-height: 100vh;
}

.is-shadow {
  box-shadow: 3px 6px 10px hsla(0,0%,4%,.1);
}

.flexWrap {
  flex-wrap: wrap;
}

.flexNoWrap {
  white-space: nowrap;
}



/* NOTE: CSS del proyecto */

/* NOTE: Colors */

.has-background-warning {
    background-color: #efcb4b !important;
}

.has-text-warning {
    color: #efcb4b !important;
}

a.has-text-warning:hover {
    color: #363636 !important;
}


.notification.is-warning {
    background-color: #efcb4b;
}

a.has-text-white:hover, a.has-text-white:focus {
  color: #3273dc !important;
}

.hero.is-warning {
  background-color: #efcb4b;
}




/* NOTE: Otros */

.logo-home {
    display: inline-block;
    max-width: 570px;
}

.mt-h{
  margin-top: 70px
}

.is-text-content{
  font-size: 1.1rem;
  text-align: justify;
}

.is-col-align {
  margin-top: -200px;
}

.card-fade-in {
  animation: fadeAndScale 670ms ease-out;
  transform-origin: left top;
}
.card-fade-in-right {
  animation: fadeAndScale 900ms ease-out;
  transform-origin: center right;
}
.card-fade-in-left {
  animation: fadeAndScale 800ms ease-out;
  transform-origin: center left;
}

@keyframes fadeAndScale {
  from {
    opacity: 0;
    transform: scale3d(.75, .75, 1);
  }
  to {
    opacity: 1;
    transform: scale3d(1, 1, 1)
  }
}

.is-tile-top-padding{
  padding-top: 0.5rem;
}

.is-tile-padding .is-tile-top-padding:first-child{
  padding-top: 0;
}

.button.is-dark:hover, .button.is-dark.is-hovered {
  background-color: #efcb4b;
}

.is-card-mobile {
  padding: 1.25rem;
  cursor: pointer;

  animation-name: card-service;
  animation-duration: 700ms;
  animation-timing-function: ease-in;

  box-shadow: 0px 3px 11px 0px rgba(36, 36, 36, 0.2);
}

.is-card-back{
  border-radius: 3px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;

  background-color: rgba(239, 203, 75, 0.94);
  transition-duration: 700ms;
}

.is-back-active {
  opacity: 1 !important;
}

.is-arrow {
  opacity: 0;
  position: absolute;
  transform: rotatey(180deg);
  animation-name: arrow-anim;
  animation-duration: 700ms;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  transition-duration: 700ms;
  top: 3px;
}

.minWidth-300 {
  min-width: 300px;
}

.is-main-text {
  text-align: justify;
}

@keyframes arrow-anim {
  0%   { margin-left: 22%; }
  100%  { margin-left: 30%; }
}

@keyframes card-service {
  from {
    transform: rotateX(21deg);
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media screen and (max-width: 768px) {
  .is-text-title {
    font-size: 1.4rem;
    text-align: center;
  }

  .is-text-content {
    font-size: 1rem;
    text-align: center;
  }

  .is-col-align {
    margin-top: -40px;
  }

  .is-card-mobile {
    padding: 0.8rem 0.4rem;
  }

  .is-work {
    padding-top: 0;
    padding-right: 0;
    padding-left: 0;
  }

  .minWidth-300 {
    min-width: auto;
  }

  .is-main-text {
    text-align: center;
  }
}


/* NOTE: Home */

.is-cero {
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.is-transparent {
  background-color: rgba( 54, 54, 54, 0.2) !important;
}

.navbar {
    transition-duration: 900ms;
}

.navbar a.navbar-item {
  transition-duration: 1700ms;
}

.slider {
  position: relative;
  display: inline-flex;
  left: 0;

  animation-name: slide-anim;
  animation-duration: 24s;
  animation-timing-function: ease-in-out;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}

.slide {
  width: 100%;
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;

  min-width: 100vw;
  min-height: 100vh;

  background-size: cover;
  background-position: center;
  background-attachment: fixed;

  transform: scaleY(1.1);
}

.slide:nth-child(1) {
  background-image: url(img/imagen1.jpg);
  left: 0;
}

.slide:nth-child(2) {
  background-image: url(img/imagen2.jpg);
  left: 100%;
}

.slide:nth-child(3) {
  background-image: url(img/imagen3.jpg);
  left: 200%;
}

.slide:nth-child(4) {
  background-image: url(img/imagen5.jpg);
  left: 300%;
}

.slide:nth-child(5) {
  background-image: url(img/imagen7.jpg);
  left: 400%;
}

@keyframes slide-anim {
  0% {
    left: 0;
  }
  12% {
    left: 0;
  }
  20% {
    left: -100%;
  }
  32% {
    left: -100%;
  }
  40% {
    left: -200%;
  }
  52% {
    left: -200%;
  }
  60% {
    left: -300%;
  }
  72% {
    left: -300%;
  }
  80% {
    left: -400%;
  }
  100% {
    left: -400%;
  }
}

/* NOTE: Portfolio */
.portfolio-bar {
  transition-duration: 700ms;
}

.portfolio-bar:hover {
  overflow-y: auto !important;
}

.portfolio-bar::-webkit-scrollbar {
  width: 16px;
}

.portfolio-bar::-webkit-scrollbar-thumb {
  background-color: #363636;

}

.portfolio-bar::-webkit-scrollbar-track {
  background-color: whitesmoke;

}
